.marqueeWrapper {
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(90deg, #790046 0%, #E50078 100%);
  border-bottom: 1.5px solid #ebe5e7;
  position: fixed;
  z-index: 1200;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 18s linear infinite;
  white-space: nowrap;
  align-items: center;
}

.marqueeText {
  font-size: .8rem;
  font-weight: 500;
  color: #ffffff;
  padding-right: 3rem;
  letter-spacing: 0.04em;
  text-shadow: 0 1px 2px rgba(0,0,0,0.04);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.dot {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  background: #ffffff;
  border-radius: 50%;
  margin-left: 0.5em;
  vertical-align: middle;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08);
} 